<!doctype html>
<html lang="ru" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>BUD</title>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
</head>

<body ng-controller="LayoutController">

<div class="attbox">
	<a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_att">!</a>
</div><!--.attbox-->

<header class="top">
	<div class="top_line clearfix">

		<div class="top__logo">
			<a href="" ui-sref="video_index"><img src="images/logo.png" alt="BUD"></a>
		</div><!--.top__logo-->

		<div data-toggle="modal" data-dismiss="modal" data-target="#mobile_menu" class="sandwich-btn visible-xs">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div><!--.sandwich-btn-->

		<nav class="top__social hidden-xs">
			<ul class="list-unstyled">
				<li ng-repeat="social in socials" ng-class="social.icon">
					<a ng-href="{{social.link}}" target="_blank" ng-bind="social.name"></a>
				</li>
			</ul>
		</nav><!--.top__social-->

		<nav class="top__links hidden-xs">
			<ul class="list-unstyled">
				<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_feedback">Обратная связь</a></li>
			</ul>
		</nav><!--.top__links-->

	</div><!--.top_line-->

	<div class="bt_line clearfix hidden-xs">

		<nav class="top__menu">
			<ul class="list-unstyled">
				<li class="upload"><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_uploadvideo">Загрузить видео</a></li>
				<li><a ui-sref="video_index">Голы тура</a></li>
				<li><a ui-sref="video_archive">Архив видео</a></li>
				<li><a href="rules.pdf" target="_blank">Правила</a></li>
				<li><a ui-sref="video_winners">Победители</a></li>
			</ul>
		</nav><!--.top__menu-->

		<nav class="usr__nav">
			<ul class="list-unstyled">
				<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_auth">Вход</a></li>
			</ul>
		</nav><!--.usr__nav-->

	</div><!--.bt_line-->
</header>

<div class="top_info">
	<div class="top_info__wrap">

		<img src="images/txt-tvoy.png" alt="Твой лучший гол на матч" class="top_info__match">

		<img src="images/img-top_info.png" alt="Сертификат" class="top_info__crt visible-xs">

		<div class="top_info__specs hidden-xs">
			<ul class="list-unstyled">
				<li>
					<span class="ico ico1">1.</span>
					<p>Загрузи свой<br> лучший гол</p>
				</li>

				<li>
					<span class="ico ico2">2.</span>
					<p>3 лучших гола тура<br> по мнению жюри<br> попадут в эфир<br> Матч ТВ</p>
				</li>

				<li>
					<span class="ico ico3">3.</span>
					<p>Победитель сезона<br> получит билет на<br> чемпионат мира по<br> футболу FIFA 2018<sup>тм</sup></p>
				</li>
			</ul>
		</div><!--.top_info__specs-->

	</div><!--.top_info__wrap-->
</div><!--.top_info-->

<div class="container">

	<div class="top__filter">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h4>Голы<br> текущего тура</h4>
				<h5>14—7 июля</h5>
			</div><!--.col-->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modal_uploadvideo" class="btn btn-danger btn-block">Загрузить видео</a>
			</div><!--.col-->

			<div class="col-md-4 col-sm-6">
				<div class="sortby">
					<label for="sort_box">Сортировать</label>
					<select name="#" id="sort_box" class="inp-decorate">
						<option>По дате</option>
						<option>По лайкам</option>
					</select>
				</div><!--.sortby-->
			</div><!--.col-->
		</div><!--.row-->
	</div><!--.top__filter-->

	<div class="row">

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb jsVideoPopup" data-src="https://www.youtube.com/embed/m0-yYhLgp_I" data-video-title="Виртуозный гол компанды “Горящие пятки”" data-video-desc="Дмитрий Игнатьев (18.05.16)">
					<img src="images/img-thumb1.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">30</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb2.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like like--liked">130</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb3.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">54</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb4.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">4</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb5.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">36</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb6.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">16</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb2.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">86</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb3.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">12</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

		<div class="col-md-4 col-sm-6">
			<div class="video__item">
				<div class="thumb">
					<img src="images/img-thumb1.jpg" alt="#">
					<div class="btn-play">Play</div>
				</div><!--.thumb-->
				<div class="info clearfix">
					<h4>Дмитрий Игнатьев (18.05.16)</h4>
					<div class="like">1</div>
				</div><!--.info-->
			</div><!--.video__item-->
		</div><!--.col-->

	</div><!--.row-->
</div><!--.container-->

<footer class="footer">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-2 col-sm-2 col-xs-12" ng-init="">
				<div class="copy" ng-bind="'© ' + year + ' BUD'"></div>
			</div><!--.col-->

			<div class="col-md-8 col-sm-8 col-xs-8">

				<div class="feedback-btn">
					<a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_feedback">Обратная связь</a>
				</div>

				<nav class="bt__social">
					<ul class="list-unstyled">
						<li ng-repeat="social in socials" ng-class="social.icon">
							<a ng-href="{{social.link}}" target="_blank" ng-bind="social.name"></a>
						</li>
					</ul>
					<p> — присоединяйся к нам</p>
				</nav><!--.bt__social-->

			</div><!--.col-->

			<div class="col-md-2 col-sm-2 col-xs-4">
				<div class="bt_label">
					<img src="images/label-alco.png" alt="0% алк">
				</div><!--.bt_label-->
			</div><!--.col-->

		</div><!--.row-->

	</div><!--.container-fluid-->
</footer>

<!-- Modal Info -->
<div class="modal modal_info fade" id="modal_auth" tabindex="-1" role="dialog" aria-labelledby="modal_auth">
	<div class="modal-dialog modal-980" role="document">
		<div class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body">

				<div class="modal__tabs modal__tabs--3 clearfix">
					<ul class="list-unstyled" role="tablist">
						<li role="presentation" class="active">
							<a href="" data-target="#reg" aria-controls="care" role="tab" data-toggle="tab">Регистрация</a>
						</li>

						<li role="presentation">
							<a href="" data-target="#auth" aria-controls="ration" role="tab" data-toggle="tab">Авторизация</a>
						</li>

						<li role="presentation">
							<a href="" data-target="#forgot" aria-controls="entertainment" role="tab" data-toggle="tab">Восстановление пароля</a>
						</li>
					</ul>
				</div><!--.modal__tabs-->

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="reg">

						<div class="row">

							<div class="col-md-4 col-sm-6">

								<div class="social_authbox">
									<h4>Авторизироваться через социальные сети</h4>
									<ul class="list-unstyled">
										<li class="fb"><a href="#">Facebook</a></li>
										<li class="vk"><a href="#">ВКонтакте</a></li>
									</ul>
								</div><!--.social_authbox-->

							</div><!--.col-->

							<div class="col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-2 text-center">
								<label for="usr_uplp" class="usr_upload_photo">
									<div class="usr_upload_photo__in">
										<input type="file" name="#" id="usr_uplp">
									</div><!--.usr_upload_photo__in-->
									<p>Загрузить фото</p>
								</label><!--.usr_upload_photo-->
							</div><!--.col-->

						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<h3>Личные данные</h3>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="reg_name">Имя*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_name">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="reg_lname">Фамилия*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_lname">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-3 col-sm-3">
								<div class="inp-group">
									<label for="reg_birth">Дата рождения*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_birth" mask="99/99/9999">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="reg_mail">Электронная почта*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_mail">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="reg_city">Город</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_city">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-3 col-sm-3">
								<div class="inp-group">
									<label for="reg_sex">Пол</label>
									<select name="#" class="inp-decorate inp-grey inp-fw" id="reg_sex">
										<option value="#">Мужской</option>
										<option value="#">Женский</option>
									</select>
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="clearfix"></div>

							<div class="col-md-4 col-sm-4">
								<div class="inp-group inp-group-t10">
									<label for="reg_pwd">Пароль</label>
									<input type="password" name="#" class="inp-style inp-fw" id="reg_pwd">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group inp-group-t10">
									<label for="reg_pwd2">Повторите пароль</label>
									<input type="password" name="#" class="inp-style inp-fw" id="reg_pwd2">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-3 col-sm-3">
								<div class="inp-group inp-group-t10">
									<label for="reg_captcha">Введите код</label>
									<input type="text" name="#" class="inp-style inp-fw" id="reg_captcha">
								</div><!--.inp-group-->
							</div><!--.col-->

						</div><!--.row-->

						<div class="row">
							<div class="col-md-3 col-md-push-8 col-sm-3 col-sm-push-8">
								<div class="inp-captcha">
									<img src="images/img-captcha.png" alt="#">
									<a href="#" class="btn btn-link btn-block">Обновить</a>
								</div><!--.inp-captcha-->
							</div><!--.col-->

							<div class="col-md-8 col-md-pull-3 col-sm-8 col-sm-pull-3">
								<div class="inp-group inp-agree inp-group-t10 inp-group-b10">
									<label><input type="checkbox" name="#" class="inp-decorate"> <span><a href="http://golereya.com/s/consent_to_processing.pdf" target="_blank">Согласие на обработку персональных данных и передачу третьим лицам</a></span></label>
								</div><!--.inp-group-->

								<div class="inp-group inp-agree">
									<label><input type="checkbox" name="#" class="inp-decorate"> <span>Согласие на получение сообщений от бренда BUD</span></label>
								</div><!--.inp-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<div class="reg_rulesbox">
									<p>Поля, отмеченные *, обязательны для заполнения</p>
									<a href="#" class="btn btn-link">Правила акции</a>
								</div><!--.reg_rulesbox-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<div class="inp-reg_box">
									<input type="submit" value="Зарегистрироваться" class="btn btn-red-bordered">
									<input type="reset" value="Отменить" class="btn btn-link" data-dismiss="modal">
								</div><!--.inp-reg_box-->
							</div><!--.col-->
						</div><!--.row-->

					</div><!--#reg-->

					<div role="tabpanel" class="tab-pane fade" id="auth">

						<div class="row">

							<div class="col-md-4 col-sm-6">

								<div class="social_authbox">
									<h4>Авторизироваться через социальные сети</h4>
									<ul class="list-unstyled">
										<li class="fb"><a href="#">Facebook</a></li>
										<li class="vk"><a href="#">ВКонтакте</a></li>
									</ul>
								</div><!--.social_authbox-->

							</div><!--.col-->

						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<h3 class="pt35">Авторизация через свой аккаунт</h3>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="auth_mail">Электронная почта*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="auth_mail">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group inp-group-mb10">
									<label for="auth_pwd">Пароль</label>
									<input type="password" name="#" class="inp-style inp-fw" id="auth_pwd">
									<div class="btn-forgot">
										<a href="" totab="#forgot">Забыли пароль?</a>
									</div>
								</div><!--.inp-group-->
							</div><!--.col-->

						</div><!--.row-->

						<div class="row">

							<div class="col-md-8">
								<div class="inp-group inp-group-b10">
									<label for="auth_rem"><input type="checkbox" name="#" class="inp-decorate" id="auth_rem"> Запомнить меня</label>
								</div><!--.inp-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<div class="reg_rulesbox">
									<a href="#" class="btn btn-link">Правила акции</a>
								</div><!--.reg_rulesbox-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<div class="inp-reg_box">
									<input type="submit" value="Войти" class="btn btn-red-bordered btn-prl50">
									<input type="reset" value="Отменить" class="btn btn-link" data-dismiss="modal">
								</div><!--.inp-reg_box-->
							</div><!--.col-->
						</div><!--.row-->
					
					</div><!--#auth-->

					<div role="tabpanel" class="tab-pane fade" id="forgot">
				
						<div class="row">

							<div class="col-md-4 col-sm-4">
								<div class="inp-group">
									<label for="fg_mail">Электронная почта*</label>
									<input type="text" name="#" class="inp-style inp-fw" id="fg_mail">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-4 col-sm-4">
								<div class="inp-group inp-group-mb10">
									<label for="fg_captcha">Введите код</label>
									<input type="password" name="#" class="inp-style inp-fw" id="fg_captcha">
								</div><!--.inp-group-->
							</div><!--.col-->

							<div class="col-md-2 col-sm-2">
								<div class="inp-captcha">
									<label>&nbsp;</label>
									<img src="images/img-captcha.png" alt="#">
									<a href="#" class="btn btn-link btn-block">Обновить</a>
								</div><!--.inp-captcha-->
							</div><!--.col-->

						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<div class="inp-reg_box">
									<input type="submit" value="Отправить пароль" class="btn btn-red-bordered btn-prl50">
									<input type="reset" value="Отменить" class="btn btn-link" data-dismiss="modal">
								</div><!--.inp-reg_box-->
							</div><!--.col-->
						</div><!--.row-->
					
					</div><!--#forgot-->
				</div><!--.tab-contentd-->

			</div><!--.modal_box__body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<!-- Modal Info -->
<div class="modal modal_info fade" id="modal_profile" tabindex="-1" role="dialog" aria-labelledby="modal_profile">
	<div class="modal-dialog modal-980" role="document">
		<div class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body">

				<div class="modal__tabs modal__tabs--3 clearfix">
					<ul class="list-unstyled" role="tablist">
						<li role="presentation" class="active">
							<a href="" data-target="#profile" aria-controls="care" role="tab" data-toggle="tab">Профиль</a>
						</li>

						<li role="presentation">
							<a href="" data-target="#myvideo" aria-controls="ration" role="tab" data-toggle="tab">Мои видео</a>
						</li>

						<li role="presentation">
							<a href="#invite" aria-controls="ration" role="tab" data-toggle="tab">Пригласить друга</a>
						</li>
					</ul>
				</div><!--.modal__tabs-->

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="profile">
						<form action="index.html" method="get">
							<div class="row">

								<div class="col-md-3 col-md-push-9 col-sm-3 col-sm-push-9 text-center">


									<label for="prf_upl" class="usr_upload_photo">
										<div class="usr_upload_photo__in">
											<input type="file" name="#">
										</div><!--.usr_upload_photo__in-->
										<p>Загрузить фото</p>
									</label><!--.usr_upload_photo-->
								</div><!--.col-->

								<div class="col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3">

									<div class="row">
										<div class="col-md-12">
											<h3><b>Личные данные</b></h3>
										</div><!--.col-->
									</div><!--.row-->

									<div class="row">

										<div class="col-md-6 col-sm-6 col-xs-12">

											<div class="row">

												<div class="col-md-12 col-sm-12">
													<div class="inp-group">
														<input type="text" name="#" value="Анна" placeholder="Имя" class="inp-style inp-fw">
													</div><!--.inp-group-->

													<div class="inp-group">
														<input type="text" name="#" value="" placeholder="Отчество" class="inp-style inp-fw">
													</div><!--.inp-group-->
												</div><!--.col-->

												<div class="col-md-6 col-sm-6">
													<div class="inp-group">
														<input type="text" name="#" value="05/12/1989" placeholder="Дата рождения" class="inp-style inp-fw" mask="99/99/9999">
													</div><!--.inp-group-->
												</div><!--.col-->

												<div class="col-md-6 col-sm-6">
													<div class="inp-group">
														<select name="#" class="inp-decorate inp-grey inp-fw">
															<option value="#">Мужской</option>
															<option value="#" selected="">Женский</option>
														</select>
													</div><!--.inp-group-->
												</div><!--.col-->

											</div><!--.row-->

										</div><!--.col-->

										<div class="col-md-6 col-sm-6 col-xs-12">

											<div class="inp-group">
												<input type="text" name="#" value="Серегина" placeholder="Фамилия" class="inp-style inp-fw">
											</div><!--.inp-group-->

											<div class="inp-group inp-ins-link">
												<input type="text" name="email" value="aivi@gmail.com" placeholder="Эл. почта" class="inp-style inp-fw" ng-readonly="!profile_email_input_enabled">
												<p class="mt10"><a href="" ng-click="profile_email_input_enabled = !profile_email_input_enabled">Изменить электронный адрес</a></p>
											</div><!--.inp-group-->

										</div><!--.col-->

									</div><!--.row-->

									<div class="row">

										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="inp-group">
												<label for="prf_addr">Адрес</label>
												<input type="text" name="#" value="Адрес" class="inp-style inp-fw" id="prf_addr">
											</div><!--.inp-group-->
										</div><!--.col-->

										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="inp-group">
												<label for="prf_tel">Телефон</label>
												<input type="text" name="#" value="Телефон" class="inp-style inp-fw" id="prf_tel" mask="+7 (999) 999-99-99">
											</div><!--.inp-group-->
										</div><!--.col-->

									</div><!--.row-->

									<div class="row">

										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="inp-group">
												<label for="prf_pwd">Изменения пароля</label>
												<input type="password" name="#" value="" placeholder="Новый пароль" class="inp-style inp-fw" id="prf_pwd">
											</div><!--.inp-group-->
										</div><!--.col-->

										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="inp-group">
												<label for="prf_pwd2" class="hidden-xs">&nbsp;</label>
												<input type="password" name="#" value="" placeholder="Ещё раз" class="inp-style inp-fw" id="prf_pwd2">
											</div><!--.inp-group-->
										</div><!--.col-->

									</div><!--.row-->

								</div><!--.col-->

							</div><!--.row-->

							<div class="row">
							<div class="col-md-12">
								<div class="inp-reg_box mt20">
									<input type="submit" value="Сохранить изменения" class="btn btn-red-bordered">
									<a href="#" class="btn btn-link">Выйти из аккаунта</a>
								</div><!--.inp-reg_box-->
							</div><!--.col-->
						</div><!--.row-->
						</form>
					</div><!--#profile-->

					<div role="tabpanel" class="tab-pane fade" id="myvideo">

						<h5>История загрузки видео</h5>

						<table class="table-list">
							<thead>
							<tr>
								<th width="33%">Видео</th>
								<th width="33%">Название</th>
								<th width="33%">Дата загрузки</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<div class="video_thumb">
										<img src="images/img-thumb1.jpg" alt="#">

										<div class="video_thumb-play">Play</div>
									</div><!--.video_thumb-->
								</td>
								<td>
									<p>Дмитрий Игнатьев</p>
									<h4>Гол Александр Пьянов лфк “Кодес”...</h4>
								</td>
								<td>
									<h4>18.05.16</h4>
								</td>
							</tr>

							<tr>
								<td>
									<div class="video_thumb">
										<img src="images/img-thumb1.jpg" alt="#">

										<div class="video_thumb-play">Play</div>
									</div><!--.video_thumb-->
								</td>
								<td>
									<p>Дмитрий Игнатьев</p>
									<h4>Гол Александр Пьянов лфк “Кодес”...</h4>
								</td>
								<td>
									<h4>18.05.16</h4>
								</td>
							</tr>

							<tr>
								<td>
									<div class="video_thumb">
										<img src="images/img-thumb1.jpg" alt="#">

										<div class="video_thumb-play">Play</div>
									</div><!--.video_thumb-->
								</td>
								<td>
									<p>Дмитрий Игнатьев</p>
									<h4>Гол Александр Пьянов лфк “Кодес”...</h4>
								</td>
								<td>
									<h4>18.05.16</h4>
								</td>
							</tr>
							</tbody>
						</table>

					</div><!--#myvideo-->

					<div role="tabpanel" class="tab-pane fade" id="invite">
					
						<div class="invitebox__info">
							<ul class="list-unstyled">
								<li class="inv">Пригласи друга</li>
								<li class="sbscr">Получи подписку на просмотр прямых трансляций футбола на <a href="http://www.championat.com">www.championat.com</a></li>
							</ul>
						</div><!--.invitebox__info-->

						<div class="row">
							<div class="col-md-5 col-sm-6">
								<div class="social_authbox">
									<h4>Приглашай друзей прямо сейчас!</h4>
									<ul class="list-unstyled">
										<li class="fb"><a href="#">Facebook</a></li>
										<li class="vk"><a href="#">ВКонтакте</a></li>
									</ul>
								</div><!--.social_authbox-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-12">
								<h3>Отправь приглашение другу по почте или размести ссылку в социальной сети</h3>
							</div><!--.col-->
						
						<div class="invite_friend collapse" id="invite_friend">
							<div class="row">
								<div class="col-md-12">
									<h3>Отправить по почте</h3>
									
									<div class="row">
										<div class="col-md-3 col-sm-4 col-xs-12">
											<div class="inp-group">
												<input type="text" name="#" placeholder="Имя друга" class="inp-style inp-fw">
											</div><!--.inp-group-->
										</div><!--.col-->

										<div class="col-md-3 col-sm-4 col-xs-12">
											<div class="inp-group">
												<input type="text" name="#" placeholder="Электронная почта друга" class="inp-style inp-fw">
											</div><!--.inp-group-->
										</div><!--.col-->
									</div><!--.row-->

									<div class="row">
										<div class="col-md-12">
											<div class="inp-group">
												<textarea name="#" placeholder="Личное послание (будет добавлено к стандартному тексту приглашения)" rows="4" class="inp-style inp-fw"></textarea>
											</div><!--.inp-group-->
										</div><!--.col-->
									</div><!--.row-->

									<div class="row">
										<div class="col-md-12">
											<div class="inp-group">
												<a href="#" class="btn btn-red-bordered">Пригласить</a>
											</div><!--.inp-group-->
										</div><!--.col-->
									</div><!--.row-->

								</div><!--.col-->
							</div><!--.row-->
						</div><!--.invite_friend-->
							
							<div class="col-md-3 col-sm-4">
								<input type="submit" value="отправить по почте" class="btn btn-red-bordered btn-fw"data-toggle="collapse" data-target="#invite_friend">
							</div><!--.col-->

							<div class="col-md-6 col-sm-7">
								<div class="copylink">
									<input id="inputToCopy" type="text" value="https://www.youtube.com/user/HowToBasic" class="inp-style inp-fw" readonly>
									<a href="" class="btn-copy" copy="#inputToCopy" data-copied="Скопированно">Копировать ссылку</a>
								</div><!--.copylink-->
							</div><!--.col-->
						</div><!--.row-->

						<h3>Приглашенные друзья</h3>

						<table class="table-list">
							<thead>
								<tr>
									<th width="35">#</th>
									<th>Имя</th>
									<th>Электронный адрес</th>
									<th>Статус приглашения</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Александр Пьянов</td>
									<td>pianov@gmail.com</td>
									<td>завершено</td>
								</tr>
							</tbody>
						</table>

					</div><!--#invite-->


				</div><!--.tab-content-->

			</div><!--.modal_box__body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<!-- Modal Info -->
<div class="modal modal_att fade" id="modal_att" tabindex="-1" role="dialog" aria-labelledby="modal_att">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="body">
				<h3>Подтверждение адреса e-mail</h3>

				<p>Для подтверждения e-mail тебе была отправлена<br> ссылка активации</p>
				<input type="text" value="aivi@gmail.com" disabled="">

				<ul class="list-unstyled">
					<li><a href="" data-target="#modal_profile" data-toggle="modal" data-dismiss="modal">Изменить электронный адрес</a></li>
					<li><a href="">Отправить ссылку активации повторно</a></li>
				</ul>
			</div><!--.body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<!-- Modal Info -->
<div class="modal modal_info fade" id="modal_uploadvideo" tabindex="-1" role="dialog" aria-labelledby="modal_uploadvideo">
	<div class="modal-dialog modal-800" role="document">
		<div class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body">

				<h2 class="title_popup">Загрузка видео</h2>

				<div class="row">
					<div class="col-md-12">
						<div class="inp-group">
							<label for="upl_yt">Ссылка на youtube*</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_yt">
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="upl_fioa">ФИО автора гола*</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_fioa">
						</div><!--.inp-group-->
					</div><!--.col-->

					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="upl_fioo">ФИО оператора гола</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_fioo">
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="upl_city">Город автора гола*</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_city">
						</div><!--.inp-group-->
					</div><!--.col-->

					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="upl_name">Название команды</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_name">
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-12">
						<div class="inp-group">
							<label for="upl_tel">Телефон</label>
							<input type="text" name="#" class="inp-style inp-fw" id="upl_tel" mask="+7 (999) 999-99-99">
							<p>Нам нужен твой номер телефона для быстрой связи в случае победы твоего видео</p>
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<h5>*Обязательные для заполнения поля</h5>

				<div class="row">
					<div class="col-md-12 text-center">
						<input type="submit" value="Загрузить" class="btn btn-red-bordered">
					</div>
				</div><!--.row-->

			</div><!--.modal_box__body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<!-- Modal Info -->
<div class="modal modal_info fade" id="modal_text" tabindex="-1" role="dialog" aria-labelledby="modal_text">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal_box__body">
				<div class="txt text-center">
					<p>Доступ к нашему сайту разрешен<br> только лицам старше 18 лет</p>
				</div>
			</div><!--.modal_box__body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<!-- Modal Info -->
<div class="modal modal_info fade" id="modal_age" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_age">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal_box__body">
				<form action="index_.html" method="get" class="txt text-center">
					<p>Тебе уже есть 18?</p>
					<button type="submit" class="btn btn-danger btn-w100" value="1" name="ok">ДА</button>
					<button type="submit" class="btn btn-danger btn-w100" value="0" name="ok">НЕТ</button>
				</form>
			</div><!--.modal_box__body-->

		</div>
	</div>
</div>
<!-- end Modal Info -->

<div class="modal fade mobile_menu" id="mobile_menu" tabindex="-1" role="dialog" aria-labelledby="mobile_menu">

	<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="logo">
				<a href="#"><img src="images/logo.png" alt="BUD"></a>
			</div><!--.top__logo-->

			<div class="mobile_menu__list">
				<ul class="list-unstyled">
					<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_uploadvideo">Загрузить видео</a></li>
					<li><a ui-sref="video_index">Голы тура</a></li>
					<li><a ui-sref="video_archive">Архив видео</a></li>
					<li><a href="rules.pdf" target="_blank">Правила</a></li>
					<li><a ui-sref="video_winners">Победители</a></li>
					<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_feedback">Обратная связь</a></li>
					<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_auth">Вход</a></li>
				</ul>
			</div><!--.mobile_menu__list-->

			<nav class="top__social">
				<ul class="list-unstyled">
					<li class="vk"><a href="#">ВКонтакте</a></li>
					<li class="in"><a href="#">Instagram</a></li>
					<li class="fb"><a href="#">Facebook</a></li>
					<li class="yt"><a href="#">YouTube</a></li>
				</ul>
			</nav><!--.top__social-->

		</div><!--.modal-content-->
	</div><!--.modal-dialog-->

</div><!--.mobile_menu-->

<div class="modal modal_info fade" id="modal_feedback" tabindex="-1" role="dialog" aria-labelledby="modal_feedback">
	<div class="modal-dialog modal-800" role="document">
		<form class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body">

				<h2 class="title_popup">Обратная связь</h2>

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="feedback_name">Имя*</label>
							<input type="text" name="#" class="inp-style inp-fw" id="feedback_name" required>
						</div><!--.inp-group-->
					</div><!--.col-->

					<div class="col-md-6 col-sm-6">
						<div class="inp-group">
							<label for="feedback_email">E-mail*</label>
							<input type="email" name="#" class="inp-style inp-fw" id="feedback_email" required>
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-12">
						<div class="inp-group">
							<label for="feedback_subject">Тема сообщения*</label>
							<input type="text" name="#" class="inp-style inp-fw" id="feedback_subject" required>
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<div class="row">
					<div class="col-md-12">
						<div class="inp-group">
							<label for="feedback__text">Текст сообщения*</label>
							<textarea name="#" id="feedback__text" cols="30" rows="4" class="form-control"></textarea>
						</div><!--.inp-group-->
					</div><!--.col-->
				</div><!--.row-->

				<h5>*Обязательные для заполнения поля</h5>

				<div class="row">
					<div class="col-md-12 text-center">
						<input type="submit" value="отправить" class="btn btn-red-bordered">
					</div>
				</div><!--.row-->

			</div><!--.modal_box__body-->

		</form>
	</div>
</div>

<!-- Modal Video -->
<div class="modal modal-video fade" id="modal_video" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-close" data-dismiss="modal" aria-label="Close"></div>
		<div class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body slider-winner">

				<div class="videoWrapper">
					<div class="modal-iframe"></div>
					<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/m0-yYhLgp_I" frameborder="0" allowfullscreen></iframe>-->

					<div class="owl-prev"></div><!-- append class name 'disabled' to hide -->
					<div class="owl-next"></div><!-- append class name 'disabled' to hide -->
				</div><!--.videoWrapper-->

				<div class="slider-winner__head">
					<p data-video-title></p>
					<h3 data-video-desc></h3>
				</div>

			</div><!--.modal_box__body-->

		</div>
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="js/jquery.formstyler.min.js"></script>
<script src="node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<!--<script src="js/design.js"></script>-->

<script src="app/vendor.js" type="text/javascript"></script>
<script src="app/app.js" type="text/javascript"></script>
<script src="app/templates.js" type="text/javascript"></script>
<script src="app/custom.js" type="text/javascript"></script>


</body>
</html>
