<!doctype html>
<html lang="ru" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>BUD</title>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
</head>

<body ng-controller="LayoutController">

<div class="attbox">
	<a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_att">!</a>
</div><!--.attbox-->

<header class="top">
	<div class="top_line clearfix">

		<div class="top__logo">
			<a href="" ui-sref="video_index"><img src="images/logo.png" alt="BUD"></a>
		</div><!--.top__logo-->

		<div data-toggle="modal" data-dismiss="modal" data-target="#mobile_menu" class="sandwich-btn visible-xs">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div><!--.sandwich-btn-->

		<nav class="top__social hidden-xs">
			<ul class="list-unstyled">
				<li ng-repeat="social in socials" ng-class="social.icon">
					<a ng-href="{{social.link}}" target="_blank" ng-bind="social.name"></a>
				</li>
			</ul>
		</nav><!--.top__social-->

		<nav class="top__links hidden-xs">
			<ul class="list-unstyled">
				<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_feedback">Обратная связь</a></li>
			</ul>
		</nav><!--.top__links-->

	</div><!--.top_line-->

	<div class="bt_line clearfix hidden-xs">

		<nav class="top__menu">
			<ul class="list-unstyled">
				<li class="upload"><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_uploadvideo">Загрузить видео</a></li>
				<li><a ui-sref="video_index">Голы тура</a></li>
				<li><a ui-sref="video_archive">Архив видео</a></li>
				<li><a href="rules.pdf" target="_blank">Правила</a></li>
				<li><a ui-sref="video_winners">Победители</a></li>
			</ul>
		</nav><!--.top__menu-->

		<nav class="usr__nav">
			<ul class="list-unstyled">
				<li><a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_auth">Вход</a></li>
			</ul>
		</nav><!--.usr__nav-->

	</div><!--.bt_line-->
</header>

<ui-view></ui-view>

<footer class="footer">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-2 col-sm-2 col-xs-12" ng-init="">
				<div class="copy" ng-bind="'© ' + year + ' BUD'"></div>
			</div><!--.col-->

			<div class="col-md-8 col-sm-8 col-xs-8">

				<div class="feedback-btn">
					<a href="" data-toggle="modal" data-dismiss="modal" data-target="#modal_feedback">Обратная связь</a>
				</div>

				<nav class="bt__social">
					<ul class="list-unstyled">
						<li ng-repeat="social in socials" ng-class="social.icon">
							<a ng-href="{{social.link}}" target="_blank" ng-bind="social.name"></a>
						</li>
					</ul>
					<p> — присоединяйся к нам</p>
				</nav><!--.bt__social-->

			</div><!--.col-->

			<div class="col-md-2 col-sm-2 col-xs-4">
				<div class="bt_label">
					<img src="images/label-alco.png" alt="0% алк">
				</div><!--.bt_label-->
			</div><!--.col-->

		</div><!--.row-->

	</div><!--.container-fluid-->
</footer>


<div class="modal modal_info fade" id="modal_thanks" tabindex="-1" role="dialog" aria-labelledby="modal_thanks">
	<div class="modal-dialog modal-800" role="document">
		<form class="modal-content">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

			<div class="modal_box__body">

				<p>Спасибо,<br> твое видео находится на модерации</p>

				<p>Если твой гол попадет в топ 3,<br> ты можешь его увидеть в эфире <span class="match">матч</span><br> 25 августа</p>

			</div><!--.modal_box__body-->

		</form>
	</div>
</div>


<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="js/jquery.formstyler.min.js"></script>
<script src="node_modules/owl.carousel/dist/owl.carousel.js"></script>
<!--<script src="js/design.js"></script>-->

<script src="app/vendor.js" type="text/javascript"></script>
<script src="app/app.js" type="text/javascript"></script>
<script src="app/templates.js" type="text/javascript"></script>


<script type="text/javascript">
$(window).load(function(){
    $('#modal_thanks').modal('show');
});
</script>

</body>
</html>
