/*
Author: Alexandr Oleynik
Author URL: http://oleynik.org
*/

@import "style.bundle.css";

@font-face {
    font-family: 'dincondensedcregular';
    src: url('fonts/dincondensedc.eot');
    src: url('fonts/dincondensedc.eot?#iefix') format('embedded-opentype'),
         url('fonts/dincondensedc.woff2') format('woff2'),
         url('fonts/dincondensedc.woff') format('woff'),
         url('fonts/dincondensedc.ttf') format('truetype'),
         url('fonts/dincondensedc.svg#dincondensedcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'din_proregular';
	src: url('fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/DINPro-Regular.otf') format('opentype'),
	url('fonts/DINPro-Regular.woff') format('woff'),
	url('fonts/DINPro-Regular.ttf') format('truetype'),
	url('fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


html, body {}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
	.modal-open {
		position: fixed;
	}
}

/* Attention box */
.attbox {
	z-index: 200;
	position: fixed;
	top: 25%;
	right: 0;
}

.attbox a {
	outline: none;

	display: block;
	width: 85px;
	height: 85px;
	border: 5px solid #fff;

	background: #C8102E url(images/ico-att-w.png) center center no-repeat;

	-webkit-background-size: 9px 46px;
	     -o-background-size: 9px 46px;
	        background-size: 9px 46px;

	text-indent: -9999px;
}

@media (max-width: 767px) {
	.attbox {
		top: 15%;
	}

	.attbox a {
		width: 35px;
		height: 35px;
		border-width: 3px;

		-webkit-background-size: 5px auto;
		     -o-background-size: 5px auto;
		        background-size: 5px auto;
	}
}


/* Btn */
.btn-fw,
.inp-fw {
	width: 100%;
}

a,
a:focus,
a:active,
.btn:focus,
.btn:active,
.btn {
	outline: none;
}


.btn-w100 {
	width: 100px;
}

.btn-danger {
	height: 46px;
	padding-top: 0;
	padding-bottom: 0;

	border-color: #C8102E;
	background-color: #C8102E;

	-webkit-border-radius: 0;
	        border-radius: 0;

	font: bold 23px/46px "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-danger:hover,
.btn-danger:active {
	border-color: #C8102E;
}


.btn-red-bordered {
	outline: none;

	height: 34px;
	border: 2px solid #C8102E;

	-webkit-border-radius: 0;
	        border-radius: 0;

	background-color: #fff;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 18px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-red-bordered:hover {
	background-color: #C8102E;
	color: #fff;
}


.btn-link {
	outline: none;

	font: bold 18px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-link:hover {
	color: #C8102E;
	text-decoration: underline;
}


/* Header */
.top {}

.top_line {
	position: relative;
	height: 55px;

	background-color: #C72534;
}

@media (max-width: 767px) {
	.top_line {
		height: auto;

		background-color: #fff;
	}
}

.top__logo {
	z-index: 5;
	position: relative;

	display: inline-block;
	margin: 10px 0 0 30px;
}

.top__logo img {
	display: block;
	max-width: 159px;
	height: auto;
}

@media (max-width: 767px) {
	.top__logo {
		margin-top: 2px;
		margin-left: 10px;
	}

	.top__logo img {
		max-width: 110px;
	}
}


.sandwich-btn {
	position: absolute;
	top: 15px;
	right: 15px;

	width: 40px;
	height: 40px;

	cursor: pointer;
}

.sandwich-btn .line1 {
	position: absolute;
	top: 9px;
	left: 0;

	display: block;
	width: 100%;
	height: 4px;

	background-color: #C8102E;
}

.sandwich-btn .line2 {
	position: absolute;
	top: 19px;
	left: 0;

	display: block;
	width: 100%;
	height: 4px;

	background-color: #C8102E;
}

.sandwich-btn .line3 {
	position: absolute;
	top: 29px;
	left: 0;

	display: block;
	width: 100%;
	height: 4px;

	background-color: #C8102E;
}

.top__social {
	float: right;
	margin: 17px 30px 0 0;
}

.top__social ul {
	margin: 0;
}

.top__social ul li {
	display: inline-block;
	margin-left: 10px;

	vertical-align: middle;
}

.top__social ul li a {
	display: block;
	width: 18px;
	height: 17px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	background: url(images/icons-social.png) no-repeat;

	-webkit-background-size: 168px 15px;
	     -o-background-size: 168px 15px;
	        background-size: 168px 15px;

	text-indent: -9999px;
}

.top__social ul li.vk a {background-position: 3px 1px;}
.top__social ul li.in a {background-position: -39px 1px;}
.top__social ul li.fb a {background-position: -74px 1px;}
.top__social ul li.yt a {background-position: -109px 1px;}
.top__social ul li.tw a {background-position: -150px 1px;}


.top__social ul li a:hover {
	opacity: 0.8;
}

.top__links {
	float: right;
	margin: 17px 35px 0 0;
}

.top__links ul {
	list-style: none;
}

.top__links ul li {
	display: inline-block;

	vertical-align: middle;
}

.top__links ul li a {
	font: bold 14px/100% "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.bt_line {
	position: relative;
	height: 55px;

	text-align: center;
}

.top__menu {
	margin: 17px 0 0 0;
}

.top__menu ul {
	margin: 0;
	list-style: none;
}

.top__menu ul li {
	display: inline-block;
	margin: 0 10px;

	vertical-align: middle;
}

.top__menu ul li a {
	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 14px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.top__menu ul li.active a {
	color: #012145;
	text-decoration: none;
}

.top__menu ul li a:hover {
	text-decoration: underline;
}

.top__menu ul li.upload {
	margin-right: 30px;
}

.top__menu ul li.upload a {
	position: relative;
	color: #012145;
}

.top__menu ul li.upload a:hover {
	color: #C8102E;
	text-decoration: none;
}

.top__menu ul li.upload a:before {
	content: '[ ';

	position: absolute;
	top: -5px;
	left: -17px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 22px/100% "dincondensedcregular", Arial;
	color: #012145;
}

.top__menu ul li.upload a:hover:before {
	left: -12px;
}

.top__menu ul li.upload a:after {
	content: ' ]';

	position: absolute;
	top: -5px;
	right: -17px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 22px/100% "dincondensedcregular", Arial;
	color: #012145;
}
.top__menu ul li.upload a:hover:after {
	right: -12px;
}

.usr__nav {
	position: absolute;
	top: 17px;
	right: 30px;
}

.usr__nav ul {
	margin: 0;
	list-style: none;
}

.usr__nav ul li {
	display: inline-block;

	vertical-align: middle;
}

.usr__nav ul li a {
	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 14px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.usr__nav ul li a:hover {
	color: #012145;
}

@media (max-width: 992px) {
	.top__menu {
		margin-left: 100px;
	}

	.top__menu ul li {
		margin-right: 8px;
		margin-left: 8px;
	}
}


/* Table */
.table-list {
	width: 100%;
}

.table-list thead th {
	border-top: 1px solid #CFD8DC;
	border-bottom: 1px solid #CFD8DC;
	padding: 2px 0 5px 0;

	font: normal 14px/100% "din_proregular", Arial;
	color: #808080;
	text-align: left;
	vertical-align: middle;
}

.table-list tbody td {
	padding: 20px 0;

	vertical-align: middle;
}

#myvideo .table-list tbody tr td:first-child {
	width: 160px;
}

.table-list tbody td p {
	font: normal 14px/100% "din_proregular", Arial;
	color: #808080;
}

.table-list tbody td p a {
	color: #808080;
	text-decoration: none;
}

.table-list tbody td p a:hover {
	text-decoration: underline;
}

.table-list tbody td h4 {
	margin: 5px 0;

	font: bold 16px/100% "din_proregular", Arial;
	color: #808080;
}

.video_thumb {
	position: relative;
	max-width: 140px;

	cursor: pointer;
}

.video_thumb img {
	display: block;
	width: 100%;
	height: auto;
}

.video_thumb-play {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;
	width: 38px;
	height: 38px;
	margin: auto;

	background: url(images/ico-play.png) center center no-repeat;

	-webkit-background-size: 38px auto;
	     -o-background-size: 38px auto;
	        background-size: 38px auto;

	text-indent: -9999px;

	cursor: pointer;
}

@media (max-width: 767px) {
	.table-list thead th {
		font-size: 12px;
	}

	.table-list tbody tr td:first-child {
		width: 75px;
	}

	.video_thumb {
		max-width: 70px;
	}

	.video_thumb-play {
		width: 20px;
		height: 20px;

		-webkit-background-size: 20px auto;
		     -o-background-size: 20px auto;
		        background-size: 20px auto;
	}

	.table-list tbody td p {
		font-size: 10px;
	}

	.table-list tbody td h4 {
		margin: 0;
		font-size: 11px;
	}
}

/* Top Info */
.top_info {
	overflow: hidden;
	height: 384px;
	margin: 0 0 30px 0;
	padding: 45px 0 20px 0;

	background: #c8102e url(images/img-ptrn.png) center center no-repeat;
}

.top_info__wrap {
	width: 100%;
	max-width: 1160px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;

	background: url(images/img-top_info.png) right center no-repeat;
}

.top_info__match {
	display: block;
	width: 100%;
	max-width: 584px;
	height: auto;
	margin: 0 0 45px 0;
}

.top_info__specs {}

.top_info__specs ul {}

.top_info__specs ul li {
	display: inline-block;
	margin: 0 8% 0 0;

	vertical-align: top;
}

.top_info__specs ul li:last-child {
	margin-right: 0;
}

.top_info__specs ul li .ico {
	display: block;
	margin: 0 0 2px 0;
	padding: 5px 100px 0 0;

	font: bold 63px/100% "dincondensedcregular", Arial;
	color: #fff;
}

.top_info__specs ul li .ico1 {
	margin-left: -6px;

	background: url(images/ico-top_info1.png) 50px 14px no-repeat;

	-webkit-background-size: 77px auto;
	     -o-background-size: 77px auto;
	        background-size: 77px auto;
}

.top_info__specs ul li .ico2 {
	background: url(images/ico-top_info2.png) 50px 0 no-repeat;

	-webkit-background-size: 58px auto;
	     -o-background-size: 58px auto;
	        background-size: 58px auto;
}

.top_info__specs ul li .ico3 {
	background: url(images/ico-top_info3.png) 50px 11px no-repeat;

	-webkit-background-size: 46px auto;
	     -o-background-size: 46px auto;
	        background-size: 46px auto;
}

.top_info__specs ul li p {
	font: normal 16px/110% "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.top_info__specs ul li p sup {
	font-size: 40%;
	vertical-align: super;
}

@media (max-width: 1100px) {
	.top_info__wrap {
		-webkit-background-size: auto 150%;
		     -o-background-size: auto 150%;
		        background-size: auto 150%;
	}
}

@media (max-width: 992px) {
	.top_info__wrap {
		-webkit-background-size: auto 115%;
		     -o-background-size: auto 115%;
		        background-size: auto 115%;
	}
}

@media (max-width: 767px) {
	.top_info {
		height: auto;
		padding-top: 20px;
	}

	.top_info__wrap {
		padding-right: 15px;
		padding-left: 15px;

		background: none;
	}

	.top_info__match {
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
	}

	.top_info__crt {
		display: block;
		width: 160%;
		height: auto;
		margin: -35% 0 -45% -35%;
	}
}

.top__filter {
	margin: 0 0 35px 0;
}

.top__filter h4 {
	float: left;
	margin: 10px 20px 0 0;

	font: bold 16px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.top__filter h5 {
	float: left;
	margin: 20px 0 0 0;

	font: bold 23px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.top__filter .btn-danger {
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
}

.top__filter .sortby {
	float: right;
	margin-top: 7px;
}

.top__filter .sortby label {
	position: relative;
	top: 2px;

	margin: 0 5px 0 0;

	font: bold 16px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@media (max-width: 992px) {
	.top__filter {
		margin-bottom: 25px;
	}

	.top__filter h4 {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.top__filter h5 {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.top__filter .btn-danger {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.top__filter .btn-danger {
		margin-bottom: 20px;
	}
}

/* Video list */
.video__item {
	margin: 0 0 40px 0;
}

.video__item .thumb {
	position: relative;
	margin: 0 0 10px 0;
}

.video__item .thumb img {
	display: block;
	width: 100%;
	height: auto;
}

.video__item .thumb .btn-play {
	opacity: 0.7;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: block;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	background: url(images/ico-play.png) center center no-repeat;

	-webkit-background-size: 52px 52px;
	     -o-background-size: 52px 52px;
	        background-size: 52px 52px;

	text-indent: -9999px;

	cursor: pointer;
}

.video__item .thumb .btn-play:hover {
	opacity: 1;

	-webkit-background-size: 60px 60px;
	     -o-background-size: 60px 60px;
	        background-size: 60px 60px;
}

.video__item .info {}

.video__item .info h4 {
	float: left;
	margin: 0;

	font: normal 13px/100% "din_proregular", Arial;
	color: #13294B;
}

.video__item .info .like {
	position: relative;
	top: -2px;

	float: right;

	font: normal 13px/100% "din_proregular", Arial;
	color: #13294B;
	cursor: pointer;
}

.video__item .info .like:before {
	content: ' ';

	display: inline-block;
	width: 17px;
	height: 19px;
	margin-top: -7px;
	margin-right: 5px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	background: url(images/icons-like.png) 0 -22px no-repeat;

	-webkit-background-size: 17px auto;
	     -o-background-size: 17px auto;
	        background-size: 17px auto;

	vertical-align: middle;
}

.video__item .info .like:after {
	content: ' ';

	opacity: 0;
	position: absolute;
	top: 3px;
	left: 0;

	display: block;
	width: 17px;
	height: 19px;
	margin-top: -7px;
	margin-right: 5px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	background: url(images/icons-like.png) 0 0 no-repeat;

	-webkit-background-size: 17px auto;
	     -o-background-size: 17px auto;
	        background-size: 17px auto;

	vertical-align: middle;
}

.video__item .info .like:hover:after {
	opacity: 0.3;
	background-position: 0 0;
}

.video__item .info .like--liked:before {
	opacity: 1;
	background-position: 0 0;
}

.video__item .info .disabled.like::after,
.video__item .info .disabled.like:hover:after,
.video__item .info .disabled.like--liked:before {
	opacity: 1;
	
	background: url(images/icons-like.png) 0 -22px no-repeat;
	
	-webkit-background-size: 17px auto;
	     -o-background-size: 17px auto;
	        background-size: 17px auto;
	
	cursor: default;
}


/* Page top */
.page_top {
	display: table;
	width: 100%;
	height: 220px;
	margin: 0 auto 30px auto;

	background: #c8102e url(images/img-ptrn.png) center center no-repeat;
}

.page_top__in {
	display: table;
	max-width: 1160px;
	height: 100%;
	margin: 0 auto;
}

.page_top__wrap {
	display: table-cell;
	width: 100%;
	height: 100%;

	vertical-align: middle;
}

.page_top h1 {
	margin: 0 0 25px 0;

	font: bold 63px/100% "dincondensedcregular", Arial;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page_top p {
	max-width: 860px;
	margin: 0;

	font: normal 16px/120% "din_proregular", Arial;
	color: #fff;
	text-transform: uppercase;
}


/* 404 page */
.page404 {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.page404__in {
	display: table;
	width: 100%;
	height: 100%;

	text-align: center;
}

.page404__wrap {
	display: table-cell;

	vertical-align: middle;
}

.page404 h1 {
	margin: 0 0 10px 0;

	font: normal 100px/100% "dincondensedcregular", Arial;
	color: #C81C2E;
	letter-spacing: 1px;
}

.page404 p {
	margin: 0 0 30px 0;

	font: normal 30px/100% "dincondensedcregular", Arial;
	color: #C81C2E;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.page404 {
		position: relative;
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

/* Footer */
.footer {
	position: relative;
	background-color: #C8102E;
}

.footer .copy {
	margin: 46px 0 0 0;

	font: normal 13px/100% "din_proregular", Arial;
	color: #fff;
}

.footer .bt_label {
	margin: 12px 0 0 0;
	text-align: right;
}

.footer .bt_label img {
	display: inline-block;
	max-width: 82px;
	height: auto;
}

.footer .feedback-btn {
	display: inline-block;
	margin: 42px 50px 0 0;

	vertical-align: middle;
}

.footer .feedback-btn a {
	font: bold 14px/100% "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: underline;
}

.footer .feedback-btn a:hover {
	opacity: 0.8;
}

.bt__social {
	display: inline-block;
	margin: 40px 30px 0 0;

	vertical-align: middle;
}

.bt__social ul {
	display: inline-block;
	margin: 0 10px 0 0;

	vertical-align: middle;
}

.bt__social ul li {
	display: inline-block;
	margin-left: 10px;

	vertical-align: middle;
}

.bt__social ul li a {
	display: block;
	width: 17px;
	height: 17px;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	background: url(images/icons-social.png) no-repeat;

	-webkit-background-size: 168px 15px;
	     -o-background-size: 168px 15px;
	        background-size: 168px 15px;

	text-indent: -9999px;
}

.bt__social ul li.vk a {background-position: 3px 1px;}
.bt__social ul li.in a {background-position: -39px 1px;}
.bt__social ul li.fb a {background-position: -74px 1px;}
.bt__social ul li.yt a {background-position: -109px 1px;}
.bt__social ul li.tw a {background-position: -150px 1px;}

.bt__social ul li a:hover {
	opacity: 0.8;
}

.bt__social p {
	display: inline-block;
	margin: -1px 0 0 0;

	font: normal 13px/100% "din_proregular", Arial;
	color: #fff;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.footer .copy {
		margin-top: 25px;
	}

	.footer .feedback-btn {
		margin-top: 25px;
		margin-right: 0;
	}

	.bt__social {
		display: block;
		margin-top: 25px;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.bt__social ul li:first-child {
		margin-left: 0;
	}

	.bt__social p {display: none;}
}

@media (min-width: 767px) {
	html {
		position: relative;
		min-height: 100%;
	}

	body {
		margin-bottom: 105px;
	}

	.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		height: 105px;
	}
}



.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 30px;
	padding: 0 45px 0 10px;
	border: 1px solid #c8102e;

	background: #fff;

	font: 13px/27px "din_proregular", Arial, sans-serif;
	color: #c8102e;
}

.inp-grey .jq-selectbox__select {
	border-color: #CFD8DC;
	color: #444;
}

.jq-selectbox__select:hover {}
.jq-selectbox__select:active {
	background: #F5F5F5;
}
.jq-selectbox.focused .jq-selectbox__select {}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 12px;
	right: 10px;
	width: 0;
	height: 0;
	border-top: 5px solid #c8102e;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #c8102e;

	background: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 13px/18px "din_proregular", Arial, sans-serif;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	color: #c8102e;
}
.jq-selectbox li.selected {
	background-color: #c8102e;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #c8102e;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}


.jq-checkbox {
	top: -1px;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	margin: 0 4px 0 0;
	border: 2px solid #d12030;

	background: #fff;

	cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 100%;
	height: 100%;

	background: url(images/icons-checkbox.png) center center no-repeat;

	-webkit-background-size: 14px auto;
	     -o-background-size: 14px auto;
	        background-size: 14px auto;
}
.jq-checkbox.focused {}
.jq-checkbox.disabled {
	opacity: .55;
}


/* Modal */
@media (max-width: 767px) {
	.modal {
		-ms-overflow-y: scroll;
		    overflow-y: scroll;

	    -webkit-overflow-scrolling: touch;
	}
}

.modal-content {
	border: 0;

	-webkit-box-shadow: none;
	        box-shadow: none;

	-webkit-border-radius: 0;
	        border-radius: 0;
}

.modal_box__body {
	padding: 35px 85px 35px 85px;
}

@media (max-width: 900px) {
	.modal-800.modal-dialog,
	.modal-980.modal-dialog {
		margin-top: 50px;
	}

	.modal-800.modal-dialog .close,
	.modal-980.modal-dialog .close {
		top: -40px;
		right: 0;
	}
}

@media (max-width: 992px) {
	.modal_box__body {
		padding: 20px;
	}
}

@media (min-width: 767px) {
	.modal-390 {
		max-width: 390px;
	}

	.modal-800 {
		width: 100%;
		max-width: 800px;
	}

	.modal-980 {
		width: 100%;
		max-width: 980px;
	}
}

@media (max-width: 767px) {

}

.modal .close {
	outline: none;

	opacity: 1;

	position: absolute;
	top: 7px;
	right: -46px;

	display: block;
	width: 32px;
	height: 32px;

	background: url(images/ico-close-w.png) no-repeat;

	-webkit-background-size: 32px auto;
	     -o-background-size: 32px auto;
	        background-size: 32px auto;

	text-indent: -9999px;
}

.modal .close:hover {opacity: 0.8;}

@media (max-width: 767px) {
	.modal .close {
		top: -35px;
		right: 5px;
	}

	.modal-dialog {
		margin-top: 50px;
	}
}

.modal_box__body .txt {
	padding-top: 80px;
	padding-bottom: 80px;
}

.modal_box__body .txt {
	font: bold 25px/130% "dincondensedcregular", Arial;
	color: #D12030;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.modal_att {}

.modal_att .close {
	top: 20px;
	right: 20px;

	background-image: url(images/ico-close.png);
}

.modal_att .modal-dialog {
	float: right;
	margin-top: 10%;
}

.modal_att .modal-content {
	border: 5px solid #c61633;
}

.modal_att .body {
	padding: 30px 30px 25px 30px;
}

.modal_att .body h3 {
	margin: 0 50px 15px 0;

	font: bold 30px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.modal_att .body p {
	margin: 0 0 20px 0;

	font: normal 16px/120% "dincondensedcregular", Arial;
	color: #c8102e;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.modal_att .body input[type="text"] {
	outline: none;

	width: 60%;
	height: 45px;
	margin: 0 0 15px 0;
	border: 1px dashed #e10b2c;

	background-color: #fff;

	font: normal 20px/120% "dincondensedcregular", Arial;
	color: #EF8092;
	text-align: center;
}

.modal_att .body ul {
	margin: 0;
}

.modal_att .body ul li {
	margin: 0 0 15px 0;
}

.modal_att .body ul li:last-child {
	margin-bottom: 0;
}

.modal_att .body ul li a {
	font: normal 16px/120% "dincondensedcregular", Arial;
	color: #c8102e;
	letter-spacing: 1px;
	text-decoration: underline;
	text-transform: uppercase;
}

.modal_att .body ul li a:hover {
	opacity: 0.8;
}


/* Mobile menu */
.mobile_menu {
	z-index: 10005;
}

.mobile_menu .modal-dialog {
	max-width: 75%;
	height: 100%;
	margin: 0;

    -webkit-transition: -webkit-transform 300ms ease-out;
    -o-transition: -o-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}

.mobile_menu .modal-content {
	height: 100%;
	border: 0;

	-webkit-border-radius: 0;
	        border-radius: 0;

	background-color: #C8102E;
}

.mobile_menu.fade .modal-dialog {
	-webkit-transform: translate3d(-100%,0,0);
	   -moz-transform: translate3d(-100%,0,0);
	    -ms-transform: translate3d(-100%,0,0);
	     -o-transform: translate3d(-100%,0,0);
	        transform: translate3d(-100%,0,0);
}

.mobile_menu.in .modal-dialog {
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}

.mobile_menu .logo {
	height: 70px;
	padding-top: 2px;
	padding-left: 10px;

	background-color: #fff;
}

.mobile_menu .logo img {
	max-width: 110px;
	height: auto;
}

.mobile_menu__list {}

.mobile_menu__list ul {
	list-style: none;
}

.mobile_menu__list ul li {
	border-bottom: 1px solid #EAF2F5;
}

.mobile_menu__list ul li a {
	display: block;
	padding: 15px;

	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
	    -ms-transition: all 200ms ease-in-out;
	     -o-transition: all 200ms ease-in-out;
	        transition: all 200ms ease-in-out;

	font: bold 16px/100% "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.mobile_menu .top__social {
	position: absolute;
	left: 5px;
	bottom: 15px;

	float: none;
}

.mobile_menu .close {
	top: 20px;
	right: 20px;
}

.modal-backdrop {
	background-color: #051634;
}

.modal-backdrop.in {
	opacity: 0.8;
}

/* Modals */
.modal__tabs {
	margin: 0 0 20px 0;
}

.modal__tabs ul {
	list-style: none;
}

.modal__tabs ul li {
	float: left;

	text-align: center;
}

.modal__tabs--2 ul li {width: 50%;}
.modal__tabs--3 ul li {width: 33.333333%;}
.modal__tabs--4 ul li {width: 25%;}

.modal__tabs ul li a {
	display: inline-block;
	border-bottom: 1px solid transparent;
	padding: 0 0 10px 0;

	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;

	font: bold 25px/100% "dincondensedcregular", Arial;
	color: #808080;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.modal__tabs ul li a:hover {
	color: #D12030;
}

.modal__tabs ul li.active a {
	border-bottom-color: #ECECEC;
	color: #D12030;
}

@media (max-width: 767px) {
	.modal__tabs {}

	.modal__tabs ul li {
		float: none;
		width: 100%;
	}

	.modal__tabs ul li a {
		display: block;
		border-bottom: 0;
		padding: 10px 20px;

		font-size: 20px;
	}

	.modal__tabs ul li.active a {
		background-color: #D12030;

		line-height: 100%;
		color: #fff;
	}
}

.social_authbox {
	overflow: hidden;
	margin: 0 0 30px 0;
}

.social_authbox h4 {
	font: normal 12px/100% "din_proregular", Arial;
	color: #000000;
}

.social_authbox ul {
	margin: 0;
	list-style: none;
}

.social_authbox ul li {
	float: left;
	width: 50%;
}

.social_authbox ul li a {
	display: block;
	height: 52px;

	font: bold 14px/52px "dincondensedcregular", Arial;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.social_authbox ul li.fb a {background-color: #4A6EAA;}
.social_authbox ul li.vk a {background-color: #1c4fa4;}

@media (max-width: 767px) {
	.social_authbox ul li a {
		height: 40px;
		line-height: 40px;
	}
}


.usr_upload_photo {
	z-index: 2;
	position: relative;

	display: block;
	margin: 0 0 -25px 0;

	text-align: center;

	cursor: pointer;
}

.usr_upload_photo__in {
	position: relative;
	overflow: hidden;

	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #ececec;
	margin: 0 0 5px 0;

	-webkit-border-radius: 50%;
	        border-radius: 50%;
	
	text-align: center;
}

.usr_upload_photo__in img {
	display: inline-block;
	width: auto;
	height: 100px;
	
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.usr_upload_photo__in input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;

	display: none;
	visibility: hidden;
	opacity: 0;
}

.usr_upload_photo p {
	font: bold 18px/100% "dincondensedcregular", Arial;
	color: #C8102E;
	text-decoration: underline;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.usr_upload_photo {
		margin-bottom: 25px;
	}
}


.title_popup {
	display: inline-block;
	margin: 0 0 35px 0;
	border-bottom: 1px solid #ECECEC;
	padding: 0 0 10px 0;

	font: bold 40px/100% "dincondensedcregular", Arial;
	color: #D12030;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#modal_uploadvideo {}

#modal_uploadvideo h5 {
	margin: 0 0 30px 0;

	font: normal 14px/100% "din_proregular", Arial;
    color: #012145;
}

#modal_uploadvideo .inp-group p {
	display: block;
	padding-top: 5px;

    font: normal 13px/100% "din_proregular", Arial;
    color: #808080;
}

#myvideo h5 {
	margin-bottom: 25px;

	font: bold 14px/100% "din_proregular", Arial;
    color: #000;
}

@media (min-width: 767px) {
	#profile .usr_upload_photo {
		margin-top: 80px;
	}
}

.inp-group {
	margin: 0 0 20px 0;
}

@media (max-width: 767px) {
	.inp-group {
		margin-bottom: 15px;
	}
}

.inp-group-b10 {
	margin-bottom: 10px;
}

.inp-group-mb10 {
	margin-bottom: 10px;
}

@media (min-width: 767px) {
	.inp-group-t10 {
		margin-top: 10px;
	}
}

.inp-ins-link {}

.inp-ins-link a {
	font: normal 14px/100% "dincondensedcregular", Arial;
	color: #D12030;
	text-decoration: underline;
	text-transform: uppercase;
}

.inp-agree {}

.inp-agree label a {
	color: #C8102E;
	text-decoration: underline;
}

.inp-agree .jq-checkbox {
	float: left;
	margin: 0 7px 0 0;
}

.inp-agree label span {
	display: block;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 3px;
}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.pt35 {padding-top: 35px;}

.inp-reg_box {}

@media (max-width: 767px) {
	.inp-reg_box {
		text-align: center;
	}

	.inp-reg_box .btn-red-bordered {
		display: block;
		width: 100%;

		margin-bottom: 15px;
	}
}

.btn-forgot {
	text-align: right;
}

.btn-forgot a {
	font: normal 12px/100% "din_proregular", Arial;
	color: #D12030;
	text-decoration: underline;
}

.btn-prl50 {
	padding-right: 50px;
	padding-left: 50px;
}

.inp-fw {width: 100%;}

.inp-captcha {
	display: inline-block;
	margin-top: -10px;
}

@media (max-width: 767px) {
	.inp-captcha {
		margin-bottom: 20px;
	}

	.inp-captcha label {
		display: block;
		height: 5px;
	}
}

.modal_box__body h3 {
	margin: 0 0 25px 0;

	font: normal 13px/100% "din_proregular", Arial;
	color: #000;
}

.modal_box__body .inp-group label {
	display: block;

	font: normal 13px/100% "din_proregular", Arial;
	color: #808080;
	cursor: pointer;
}

.modal_box__body .inp-style {
	outline: none;

	display: block;
	height: 26px;
	border: 1px solid #cfd8dc;
	padding: 0 5px;

	font: normal 13px/150% "din_proregular", Arial;
	color: #000;
}

.modal_box__body textarea.inp-style {
	max-width: 100%;
	
	height: auto;
	
	line-height: 130%;
	resize: none;
}

.modal_box__body input[disabled].inp-style,
.modal_box__body input[readonly].inp-style {
	border-style: dashed;
	color: #808080;
}

.modal_box__body .inp-error {
	border-color: #f00;
	color: #f00;
}

.reg_rulesbox {
	margin: 0 0 35px 28px;
}

.reg_rulesbox p {
	font: normal 13px/100% "din_proregular", Arial;
	color: #808080;
}

.reg_rulesbox .btn-link {
	padding: 0;

	text-decoration: underline;
}

.reg_rulesbox .btn-link:hover {
	color: #012145;
}


/* --- */
.invitebox__info {
	overflow: hidden;
	max-width: 80%;
	margin: 30px auto 0 auto;
}

.invitebox__info ul {
	list-style: none;
}

.invitebox__info ul li {
	float: left;
	width: 50%;
	margin: 0 0 25px 0;
	padding: 90px 0 0 0;
	
	font: normal 18px/120% "dincondensedcregular", Arial;
	color: #C72534;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.invitebox__info ul li a {
	color: #C72534;
	text-decoration: underline;
}

.invitebox__info ul li.inv {
	background: url(images/ico-invite.png) center top no-repeat;
	
	-webkit-background-size: 70px auto;
	     -o-background-size: 70px auto;
	        background-size: 70px auto;
}

.invitebox__info ul li.sbscr {
	background: url(images/ico-play-r.png) center top no-repeat;
	
	-webkit-background-size: 70px auto;
	     -o-background-size: 70px auto;
	        background-size: 70px auto;
}


.copylink {
	margin-bottom: 30px;
}

.copylink input[type="text"] {
	height: 34px;
	margin-bottom: 5px;
}

.copylink .btn-copy {
	font: bold 14px/100% "dincondensedcregular", Arial;
	color: #D12030;
	letter-spacing: 1px;
	text-transform: uppercase;
}


#modal_video .

#modal_video .page-winner__slider {
	margin-top: 0;
}

#modal_video .modal_box__body {
	padding: 0;
}

#modal_video .slider-winner__item {
	padding: 0;
}

#modal_video .modal-content {
	background-color: transparent;
}

#modal_video .slider-winner {
	background-color: transparent;
}

#modal_video .slider-winner__head p {
	font: normal 13px/100% "din_proregular", Arial;
	color: #fff;
}

#modal_video .slider-winner__head h3 {
	font: normal 20px/100% "dincondensedcregular", Arial;
	color: #fff;
}

#modal_video .slider-winner {
	max-width: 100%;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.videoWrapper video,
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* # */
#modal_thanks {
	text-align: center;
}

#modal_thanks p {
	margin: 0 0 35px 0;
	border-bottom: 1px solid #ECECEC;
	padding: 0 0 35px 0;	

    font: bold 32px/130% "dincondensedcregular", Arial;
    color: #D12030;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#modal_thanks p:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

#modal_thanks .match {
	position: relative;
	top: -2px;

	display: inline-block;
	width: 92px;
	height: 25px;
	margin-left: 3px;
	
	background: url(images/txt-match.png) no-repeat;
	
	-webkit-background-size: 92px auto;
	     -o-background-size: 92px auto;
	        background-size: 92px auto;

	vertical-align: middle;
	
	text-indent: -9999px;
}


/* Invite friend */
.invite_friend {
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 15px 15px 0 15px;
	
	background-color: #f0f0f0;
}

.invite_friend h3 {
	display: inline-block;
	margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0 0 10px 0;
    
    font: bold 20px/100% "dincondensedcregular", Arial;
    color: #D12030;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* Autocomplete */
.js_settlement_box {
	position: relative;
}

.ui-autocomplete {
	z-index: 1000;
	position: absolute;
	top: 100%;
	left: 0;
	
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	
	display: block;
	width: 100%;
	max-height: 245px;
	margin: 5px 0 0 0;
	padding: 0;
	border: 1px solid #cfd8dc;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	background: #fff;
	
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	
	font: 12px/110% "din_proregular", Arial, sans-serif;
	color: #333;
	
	list-style: none;
}

.ui-autocomplete li {
	min-height: 18px;
	padding: 5px 10px 6px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	color: #333;
	
	-webkit-transition: all 150ms ease-in-out;
	   -moz-transition: all 150ms ease-in-out;
	    -ms-transition: all 150ms ease-in-out;
	     -o-transition: all 150ms ease-in-out;
	        transition: all 150ms ease-in-out;
	
	cursor: pointer;
}

.ui-autocomplete-item-label {
	display: block;
	
	font-weight: bold;
	color: #000;
	vertical-align: middle;
}

.ui-autocomplete-item-desc {
	display: block;
	
	font-size: 10px;
	color: #666;
	vertical-align: middle;
}

.ui-autocomplete li a {
	text-decoration: none;
}

.ui-autocomplete li:hover {
	background-color: #C8102E;
	color: #fff;
	text-decoration: none;
}

.ui-autocomplete li:hover .ui-autocomplete-item-label {
	color: #fff;
}

.ui-autocomplete li:hover .ui-autocomplete-item-desc {
	color: #f0f0f0;
}