@import "/node_modules/owl.carousel/dist/assets/owl.carousel.min.css";

@mixin background-gradient($color-top, $color-bottom) {
    background: $color-top;
    background: -webkit-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -o-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-top), color-stop(100%, $color-bottom));
    background: linear-gradient($color-top 0%, $color-bottom 100%);
}

textarea.form-control {
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
	display: block;
	min-height: 84px;
	border: 1px solid #cfd8dc !important;
	padding: 0 5px;

	font: normal 13px/150% "din_proregular", Arial;
	color: #000;
}
textarea[disabled].form-control {
	border-style: dashed;
	color: #808080;
}

#modal_feedback h5 {
	margin: 0 0 30px 0;

	font: normal 14px/100% "din_proregular", Arial;
    color: #012145;
}

#modal_feedback .inp-group p {
	display: block;
	padding-top: 5px;

    font: normal 13px/100% "din_proregular", Arial;
    color: #808080;
}

.page-winner {
    background: #c8102e url(images/img-ptrn.png) center center repeat-y;
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 400px;
        content: '';
        @include background-gradient(transparent, rgba(200, 16, 46, .75));
    }
    &__inner {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        min-height: calc(100vh - 110px - 105px); // header + footer;
    }
    &__title {
        text-align: center;
        color: #fff;
        font-family: 'din_proregular';
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 25px;
    }
    &__slider {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .page-winner {
        &__title {
            font-size: 16px;
        }
    }
}

.slider-winner {
    width: 100%;
    max-width: 610px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    .owl {
        &-carousel {

        }
        &-item {
            transform: translateZ(0);
        }
        &-prev {
            position: absolute;
            width: 55px;
            height: 110px;
            top: 50%;
            right: 100%;
            margin-right: 14px;
            text-indent: -9999px;
            margin-top: -55px;
            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 55px 55px 55px 0;
                border-color: transparent rgba(255, 255, 255, .5) transparent transparent;
                transition: all .2s ease-in-out;
            }
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                margin-right: 15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 17px 17px 17px 0;
                border-color: transparent #fff transparent transparent;
                transition: all .2s ease-in-out;
            }
        }
        &-next {
            position: absolute;
            width: 55px;
            height: 110px;
            top: 50%;
            left: 100%;
            margin-left: 14px;
            text-indent: -9999px;
            margin-top: -55px;
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 55px 0 55px 55px;
                border-color: transparent transparent transparent rgba(255, 255, 255, .5);
                transition: all .2s ease-in-out;
            }
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                margin-left: 15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 17px 0 17px 17px;
                border-color: transparent transparent transparent #fff;
                transition: all .2s ease-in-out;
            }
        }
        &-prev:hover {
            &:before {
                border-color: transparent #fff transparent transparent;
            }
            &:after {
                border-color: transparent #c8102e transparent transparent;
            }
        }
        &-next:hover {
            &:before {
                border-color: transparent transparent transparent #fff;
            }
            &:after {
                border-color: transparent transparent transparent #c8102e;
            }
        }
        &-prev.disabled,
        &-next.disabled {
            cursor: default;
            &:before {
                border-color: transparent transparent transparent transparent !important;
            }
            &:after {
                border-color: transparent transparent transparent transparent !important;
            }
        }
    }
    &__item {
        padding: 0 30px;
        padding-bottom: 53px;
    }
    &__head {
        padding-top: 18px;
        padding-bottom: 10px;
    }
    &__title {
        color: #c8102e;
        font-family: 'dincondensedcregular';
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
    }
    &__date {
        color: #c8102e;
        font-family: 'dincondensedcregular';
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        vertical-align: top;
        &:before {
            position: absolute;
            top: 50%;
            left: -31px;
            background: url(images/ico-tv.png) left center no-repeat;
            content: '';
            width: 21px;
            height: 21px;
            margin-top: -13px;
        }
    }
    &__video {
        position: relative;
        margin: 0;
        display: block;

        img {
        	display: block;
        	width: 100%;
        	height: auto;
        }

        .btn-play {
        	opacity: 0.7;
        	position: absolute;
        	top: 0;
        	right: 0;
        	left: 0;
        	bottom: 0;

        	display: block;

        	-webkit-transition: all 150ms ease-in-out;
        	   -moz-transition: all 150ms ease-in-out;
        	    -ms-transition: all 150ms ease-in-out;
        	     -o-transition: all 150ms ease-in-out;
        	        transition: all 150ms ease-in-out;

        	background: url(images/ico-play.png) center center no-repeat;

        	-webkit-background-size: 52px 52px;
        	     -o-background-size: 52px 52px;
        	        background-size: 52px 52px;

        	text-indent: -9999px;

        	cursor: pointer;
        }

        .btn-play:hover {
        	opacity: 1;

        	-webkit-background-size: 60px 60px;
        	     -o-background-size: 60px 60px;
        	        background-size: 60px 60px;
        }
    }
}

@media (max-width: 767px) {
    .slider-winner {
        &.owl {
            &-carousel {
                padding: 0 30px;
            }
        }
        &__item {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 48px;
        }
        &__title {
            font-size: 16px;
        }
        &__date {
            font-size: 16px;
        }
        .owl {
            &-stage {
            }
            &-prev {
                position: absolute;
                width: 17px;
                height: 34px;
                top: 50%;
                right: 100%;
                margin-right: -23px;
                text-indent: -9999px;
                margin-top: -17px;
                &:before {
                    content: none;
                }
                &:after {
                    margin-right: 0;
                    border-color: transparent #c8102e transparent transparent !important;
                }
            }
            &-next {
                position: absolute;
                width: 17px;
                height: 34px;
                top: 50%;
                left: 100%;
                margin-left: -23px;
                text-indent: -9999px;
                margin-top: -17px;
                &:before {
                    content: none;
                }
                &:after {
                    margin-left: 0;
                    border-color: transparent transparent transparent #c8102e !important;
                }
            }
        }
    }
}
